<div style="height: 80vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>angular Navigation</span>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>

        <a href="#" mat-button>menu item1</a>
        <a href="#" mat-button>menu item2</a>
        <a href="#" mat-button>menu item3</a>
        <a href="#" mat-button>menu item4</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
        <a href="#" mat-list-item>menu item1</a>
        <a href="#" mat-list-item>menu item2</a>
        <a href="#" mat-list-item>menu item3</a>
        <a href="#" mat-list-item>menu item4</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="padding-left: 20px; padding-right: 20px; !important">
      <div style="width:95%;margin-right: auto;margin-left: auto;padding-bottom: 10px; padding-top: 20px; !important">
        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
          <button mat-raised-button color="accent" (click)="addNew()">ADD</button>
        </div>
        <div class="boom">
          <h1>Hello {{username}}</h1> 
          <h2>you have successfully loggedin</h2>
        </div>
        <div class="boom1" style="padding-top: 50px; padding-left: 10px;">
          <button mat-raised-button color="primary" (click)="logout()">Logout</button>
          </div>
      </div>
      <div class="example-header" fxLayout="row">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
    
      <div class="example-container mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>


          <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Number</mat-header-cell>
            <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
            <mat-cell *matCellDef="let row" >{{row.title}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="body">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Body</mat-header-cell>
            <mat-cell   *matCellDef="let row" >{{row.body}}</mat-cell>
          </ng-container>


          <ng-container matColumnDef="author">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Author</mat-header-cell>
            <mat-cell *matCellDef="let row" >{{row.author}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>

            <mat-cell *matCellDef="let row; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, row.id,  row.title, row.body, row.author)">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.body, row.author)">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
          No results
        </div>

        <mat-paginator #paginator
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>